<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.szut.passkeeper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialLightTheme">
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterLightNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DatabaseActivity"
            android:label="@string/title_activity_create_database" />
        <activity
            android:name=".activity.ListDatabaseActivity"
            android:label="@string/title_activity_choose_database"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ListCategoryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ListEntryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EntryActivity"
            android:label="@string/title_activity_create_entry" />
    </application>

</manifest>
