<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.szut.passkeeper" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDarkTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateDatabaseActivity"
            android:label="@string/title_activity_create_database" >
        </activity>
        <activity
            android:name=".ChooseDatabaseActivity"
            android:label="@string/title_activity_chose_database" >
        </activity>
    </application>

</manifest>
